.formImgContainer {
  display: flex;
}

.search {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 69px;
  padding-bottom: 64px;
}

.searchTitle {
  text-align: left;
  color: #000;
  font-family: Ferry;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
}

.searchSubtitle {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 47px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dateError {
  margin-top: 7px;
  text-align: center;
  color: red;
}

input[type="date"] {
  width: 176px;
  outline: none;
  padding-left: 17px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.inputItem {
  transition: all 0.5s ease;
  &:focus-visible {
    border: 0px;
    outline: none;
  }
  &:focus {
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    background-color: transparent;
  }
  &::placeholder {
    text-align: center;
    color: #949494;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
  }
  padding-right: 22px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  padding-left: 22px;
  min-width: 242px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background-color: transparent;
  min-height: 43px;
  text-align: center;
}

.inputItemMode {
  &:focus {
    box-shadow: 0px 0px 20px 0px rgba(255, 89, 89, 0.2);
  }
}
.INNOfCompanyError {
  margin-top: -20px;
  margin-bottom: 20px;
  color: red;
}

.countOfDocumentsInOutError {
  text-align: center;
  max-width: 242px;
  margin-top: -25px;
  margin-bottom: 17px;
  color: red;
}

.formLeft {
  text-align: left;
}

.formSearch {
  justify-content: space-between;
  padding-bottom: 32px;
  max-width: 872px;
  display: flex;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding-top: 29px;
  padding-left: 44px;
}

.formText {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
}

.searchSelect {
  transition: all 0.5s ease;
  &:hover {
    .tonalItem {
      color: #fff;
    }
    background-color: #5970ff;
    color: #fff;
  }
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  div {
    text-align: left;
  }
  & {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  background-image: url(./imgs//arrowSelect.svg);
  background-position: 207px center;
  background-repeat: no-repeat;
  padding-left: 22px;
  padding-right: 22px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  background-color: transparent;
  min-width: 242px;
  margin-top: 20px;
  min-height: 43px;
}

.tonalItem {
  position: absolute;
  transform: translateY(-65px);
  margin-left: 20px;
  color: #000;
}

.tonalAllPosition {
  transform: translateY(-25px);

  max-width: 242px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  width: 100%;
}

.tonalAllPositionItem {
  &:hover {
    color: white;
    background-color: #5970ff;
  }
  color: #000;
  // transform: translateY(10px);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  min-height: 43px;
}

.range {
  padding-left: 44px;
  padding-right: 42px;
  min-width: auto;
  color: #949494;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  max-width: 176px;
  background-position: 140px center;
  margin-bottom: 0;
}

.rangeContainer {
  display: flex;
  column-gap: 20px;
}

.formRightInput {
  background-image: url("./imgs//inputImg.svg");
  display: none;
  width: 20px;
  height: 20px;
  color: white;
}
.formRightItemContainer {
  transition: all 0.5s ease;
  opacity: 1;
  column-gap: 17px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.beforeContainer {
  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(./imgs//inputImg.svg);
    background-repeat: no-repeat;
    border: 1px solid #000;
    background-position: center;
    left: 0px;
  }
}

.beforeContainerFalse {
  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid #000;
    background-position: center;
    left: 0px;
  }
}

.inputItemError {
  transition: all 0.5s ease;
  &:focus {
    background-color: transparent;
    border: 1px solid #ff5959;
    outline: none;
    box-shadow: 0px 0px 20px 0px rgba(255, 89, 89, 0.2);
  }
  padding-right: 22px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  padding-left: 22px;
  min-width: 242px;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 43px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.formRightItemContainerFalse {
  opacity: 0.4;
  column-gap: 17px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.formRightText {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
}

.formRight {
  padding-right: 39px;
  row-gap: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnSearch {
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  transition: all 0.5s ease;
  &:hover {
    background: #0d2097;
  }
  cursor: pointer;
  align-self: flex-end;
  margin-top: 130px;
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.66px;
  border-radius: 5px;
  background: #5970ff;
  padding: 16px 117px;
}

.btnSearchContainer {
  align-self: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.errorDateInput {
  border-radius: 5px;
  border: 1px solid #ff5959;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(255, 89, 89, 0.2);
}
.formWarningBtnText {
  width: 100%;
  text-align: left;
  color: #949494;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.formRightImg {
  position: absolute;
  transform: translateX(13px);
  top: 220px;
}

@media (max-width: 1439px) {
  .formRight {
    padding-right: 20px;
  }
  .formRightImg {
    transform: translateY(-150px);
    position: relative;
  }

  .formSearch {
    max-width: none;
  }

  .formSearch {
    width: 100%;
    & > * {
      width: 100%;
    }
  }

  .formImgContainer {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 870px) {
  .formSearch {
    padding-right: 44px;
    flex-wrap: wrap;
  }

  .inputItem {
    width: 100%;
  }

  .searchSelect {
    max-width: none;
    background-position: 98% center;
    width: 100%;
  }

  .formRight {
    margin-top: 25px;
    padding-right: 0;
    justify-content: flex-start;
    & > * {
      justify-content: flex-start;
      width: 100%;
    }
    width: 100%;
    align-items: center;
  }

  .btnSearch {
    &:disabled {
      background-color: #ff5959;
    }
    width: 100%;
  }

  .formWarningBtnText {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 769px) {
  .btnSearch {
    padding: 16px 0px;
  }
  .searchTitle {
    font-size: 28px;
  }
  .formRightImg {
    width: 100%;
  }
  .search {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 426px) {
  .formRightItemContainer {
    flex-direction: column;
    row-gap: 10px;
  }
  .formSearch {
    padding-left: 15px;
    padding-right: 15px;
  }
  .rangeContainer {
    & > * {
      &:first-child {
        margin-bottom: 0;
      }
    }
    flex-direction: column;
  }
}
