.loginScreen {
  padding-bottom: 80px;
  padding-top: 70px;
  display: flex;
  padding-left: 60px;
  padding-right: 141px;
}

.loginTitle {
  padding-right: 30px;
  text-align: left;
  color: #000;
  font-family: Ferry;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.8px;
}

.btns {
  display: flex;
  column-gap: 15px;
}

.loginBtn {
  &:hover {
    background-color: #029491;
    color: white;
  }
  transition: all 0.5s ease;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: #029491;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #029491;
}

.signUpBtn {
  border-bottom: 1px solid #c7c7c7;

  color: #c7c7c7;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  @extend .loginBtn;
}

.form {
  position: relative;
  padding-bottom: 39px;
  padding-top: 17px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.loginOrPhone {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #949494;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.passwordText {
  text-align: left;
  margin-bottom: 15px;
  color: #949494;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.inputLoginPhone {
  font-size: 20px;
  padding-left: 20px;
  color: #000;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  width: 100%;
  min-height: 43px;
}

.inputErrorPassword {
  transition: all 0.5s ease;
  &:focus {
    border: 1px solid #ff5959;
    outline: none;
    box-shadow: 0px 0px 20px 0px rgba(255, 89, 89, 0.2);
  }
  font-size: 20px;
  padding-left: 20px;
  color: #000;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  width: 100%;
  min-height: 43px;
  margin-bottom: 30px;
  border-radius: 5px;
  background: #fff;
}

.logInBtn {
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  cursor: pointer;
  border-radius: 5px;
  background: #5970ff;
  padding: 16px 156px;
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.44px;
  transition: all 0.5s ease;
  border: 0px;
}

.logInBtn:hover {
  background-color: #142590;
}

.forgotPassword {
  margin-top: 15px;
  border: 0px;
  background-color: transparent;
  color: #5970ff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration-line: underline;
}

.loginWithText {
  margin-top: 30px;
  margin-bottom: 16px;
  text-align: left;
  color: #949494;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.loginWithSocial {
  display: flex;
  column-gap: 10px;
}

.keyImg {
  position: absolute;
  left: -50px;
  top: -50px;
}
.left {
  position: relative;
  img {
    position: relative;
    right: 20%;
  }
}

.loginTitle {
  margin-bottom: 13px;
}

.inputPassword {
  @extend .inputLoginPhone;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .loginTitle {
    font-size: 30px;
  }

  .left {
    img {
      right: 10%;
    }
  }
}

@media (max-width: 1025px) {
  .loginScreen {
    padding-right: 60px;
  }
}

@media (max-width: 950px) {
  .loginScreen {
    flex-direction: column;
  }

  .logInBtn {
    padding: 16px 0px;
    width: 100%;
  }

  .left {
    img {
      position: absolute;
      right: 20vw;
      bottom: -127vh;
    }
  }

  .loginScreen {
    padding-top: 30px;
  }

  .loginScreen {
    padding-bottom: 485px;
  }

  .loginTitle {
    margin-bottom: 126px;
  }

  .keyImg {
    top: -80px;
    left: 100px;
  }
}

@media (max-width: 426px) {
  .loginScreen {
    padding-left: 14px;
    padding-right: 14px;
  }
  .loginTitle {
    font-size: 22px;
  }

  .left {
    img {
      right: 10vw;
    }
  }

  .form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 374px) {
  .left {
    img {
      right: -5vw;
    }
  }

  .loginWithSocial {
    flex-direction: column;

    img {
      width: 100%;
      height: 31px;
    }

    row-gap: 15px;
  }

  .loginWithText {
    text-align: center;
  }
}

.errorPassword {
  margin-top: -23px;
  margin-bottom: 7px;
  color: #ff5959;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
